.header .menu{
    text-align: right;
    background: #303030;
    width: 100%;
    height: 30px;
    padding: 3px 60px 0px 0px;
    overflow: hidden;
    align-items: center;
}
.menu #logout{
    display: none;
}
.menu #user{
    display: none;
}
.header ul li{
    display: inline-block;
    margin-left: 8px;
    align-items: center!important;
    color: #fafafa;
}
.header ul li svg{
    margin-left:5px;
    margin-right: 5px;
    height: 13px;
}
.search:hover{
    cursor: pointer;
}
.header ul li:hover{
    cursor: pointer;
    color: #ffba00;
}
.navbar{
    display: flex;
    height: 130px;
}
.navbar .logo{
    /* width: 20%; */
}
.navbar .navbar-menu{
    display: flex;
    flex-grow: 1;
}
.nav-navbar ul li{
    display: inline-block;
}
.navbar-menu a{
    font-weight: bold;
    text-decoration: none;
    font-size: 23px;
    color: #303030;
    font-family: inherit;
}
.navbar-menu a:hover{
    text-decoration: none;
    color: #f15e2c;
}
.dropdown{
    position: relative;
    display: inline-block;
    width: 150px;
    margin-left: 10px;
}
.dropdown-hover{
    display: none;
    position: absolute;
}
.dropdown ul li{
    display: block;
    list-style-type: none;
}
.dropdown-hover a{
  text-decoration: none;
  font-size: 15px;
  color: #303030;
  font-weight: normal;
}
.dropdown:hover .dropdown-hover{
    display: block;
}
.line{
    border-right: 2px solid #e3e2e2;
    display: inline;
}
.navbar .search{
    margin-right: 5%;
    width: 20%;
}
.navbar .search .form-group{
    display: flex;
}
.navbar .search  .input{
    border: none;
    width: 100%;
    height: 100%;
    border-radius: 0px;
    font-size: 18px;
    height: 38px;
    padding: 10px 13px;
    border: 1px solid #bdbdbd;
    /* border-radius: 5px; */
    margin-right: 5px;
    
}
.navbar .search .input:focus {     
    outline: 0;     
    outline-style: none;     
    outline-width: 0; 
    border-color: #66afe9;
}

.home-collection .row{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 15px;
}
.home-collection .row .col{
    overflow: hidden;
}
.home-collection .item-group{
    position: absolute;
    color: #fafafa;
    font-size: 23px;
    font-weight: bold;
    padding-right: 25%;
    padding-top: 20px;
    padding-left: 98px;
    text-align: center;
}
.home-collection .item-group:hover{
    cursor: pointer;
    color: #f15e2c;
}

.home-collection1 .carousel-item{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}
.footer{
    display: flex;
    padding-left: 10%;
    padding-top: 10px;
    border-top: 1px solid #bdbdbd;
    border-bottom: 1px solid #bdbdbd;
}
.footer .footer-info{
    width: 250px;
}
.footer .customer{
    width: 250px;
}
.footer .link{
    width: 250px;
}
.footer ul li{
    display: block;
}
.footer ul li{
    color: #898989;
    text-decoration: none;
}
.footer ul li:hover{
    color:#000;
    text-decoration: none;
    cursor: pointer;
}
.footer .title-menu{
    font-weight: bold;
    text-decoration: none;
    font-size: 15px;
    color: #303030;
    font-family: inherit;
}
.link ul li{
    display: inline-block;
}
.item-seller{
    display: flex;
    padding-left: 10%;
    padding-right: 10%;
}
.item-seller .img img{
    width: 200px;
}
.item-seller .name{
   font-size: 16px;
}
.item-seller .item{
    margin-left: 30px;
    width: 300px;
}
.home-collection1{
    margin-bottom: 20px;
}
.item-seller .img img:hover{
    cursor: pointer;
}
.item-seller .name:hover{
    color: #f15e2c;
    cursor: pointer;
 }
 .dropdown .title-dropdown{
    font-weight: bold;
    text-decoration: none;
    font-size: 23px;
    color: #303030;
    font-family: inherit;
 }
 .dropdown .title-dropdown:hover{
    color: #f15e2c;
    cursor: pointer;
 }
 .dropdown .sneakers{
     color: #898989;
     font-size: 14px;
 }
 .dropdown .sneakers:hover{
    color: #f15e2c;
    cursor: pointer;
}
